@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    max-height: 100%;
}

/*====Header====*/

header {
    height: 10%;
}

header .return {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

header .return a {
    display: flex;
    justify-content: center;
    margin: 2px 10px;
    border: 10px;
    padding: 5px;
    width: 150px;
    background-color: #0B4A75;
    color: #FFFFFF;
    border-radius: 5px;
}

header .return a:hover {
    background-color: #333333;
    color: #FFFFFF;
    text-decoration: none;
}

/*====Main====*/

main {
    display: flex;
    height: 90%;
}

/*====Reportes====*/

main .form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

main .form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0.5px green;
    background-color: #FFFFFF;
    padding: 0px 50px;
}

main .form form .box_text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 50%;
}

main .form form .box_text .codigo {
    display: flex;
    align-items: center;
}

main .form form .box_text .codigo label {
    margin: 2px 5px;
}

main .form form .box_text .description {
    display: flex;
    align-items: center;
}

main .form form .button {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

main .form form .button .b2 {
    margin: 2px 10px;
    border: 10px;
    padding: 2px;
    width: 150px;
    background-color: #C0D72C;
    color: #000;
    border-radius: 5px;
}

main .form form .button .b2:hover {
    background-color: #333333;
    color: #FFFFFF;
}

@media screen and (max-width: 720px) {

    header .encabezado .logo {
        width: 0%;
        display: none;
    }

    header .encabezado .enlaces {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }

    header .encabezado .enlaces .b {
        display: none;
    }

    main .form form {
        width: 60%;
        height: 60%;
    }

    main .form .encabezado .logo {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    main .form .encabezado .portada {
        width: 0%;
    }

    main .form form .box_text {
        display: flex;
        justify-content: center;
    }

    main .form form .box_text .codigo {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    main .form form .box_text .description {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    main .form form .button {
        display: flex;
        justify-content: center;
    }
}